h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  line-height: var(--line-height);
}

p {
  color: var(--text-primary);
  line-height: var(--line-height);
}

a {
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
